.iconBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.shareIcon{
    margin:0 50px;
}

h6{
    /*margin-right: 20px;*/
    width:90%
}

@media screen and (max-width:480px) {
    #shareDialog{
        height: 40%;
        font-size: small !important ;
    }
    h6{
        font-size: medium !important;
    }
    #shareVia{
        font-size: medium !important;
    }
    .MuiDialog-paper {
        margin: 5px !important;
    }
    .iconBar button svg{
        width:50px;
        height:50px;
    }

}
